@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@100;300&display=swap');

:root {
    --font-poppins: 'Poppins', sans-serif;

    --bg-color: #252525;
    --primary-color: #ccc;
    --dark-color: #303030;
    --dark-color-light: #404040;
}