.login {
    padding: 2rem 0;

    & h3 {
        text-align: center;
        color: var(--dark-color);
    }

    & form {
        display: flex;
        justify-content: center;
    }

    & input {
        width: 400px;
        max-width: 90%;

        &:hover {
            border-color: var(--dark-color);
            box-shadow: 0 0 0 3px rgba(3, 3, 3, 0.2);
        }

        &:focus {
            border-color: var(--dark-color);
            box-shadow: 0 0 0 3px rgba(3, 3, 3, 0.2);
        }
    }
}